<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/pass_gen.css">
  <title>Password generator</title> 
</head>
<body>
    <div id="container">
        <h1>Ģenerēt parole</h1>
        <div id="symbols">
            <label><input type="checkbox" value="1" checked>Cipari</label>
            <label><input type="checkbox" value="2" checked>Burti (a-z, A-Z)</label>
            <label><input type="checkbox" value="3" checked>Speciālie simboli</label>
        </div>
        <label>Password Length: </label>
        <input type="number" id="length" value="8" min="1" max="20">
        <input type="button" value="Ģenerēt parole" onclick="generatePassword()">
        <input type="button" value="Kopēt" id="copy-password" onclick="copypass()">
        <input type="text" id="password" value="" readonly>
        <h2><a href="/registration">Atpakaļ uz reģistrācijas lapu</a></h2>
    </div>
    <div></div>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="static/css/gen.js"></script>
</body>
</html>
